html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    color: #ccc;
    background-color: #222;
}
/*header*/
header{
    background-color: #333;
    padding: 20px 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
header h1{
    margin: 0;
    font-size: 2rem;
}

/*main*/
main{
    max-width: 800px;
    margin: 0 auto;
}

.upload-area{
    margin-top: 20px;
    padding: 20px;
    font-size: 1.8rem;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.form div{
    display: flex;
    align-items: center;
}
.button{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ccc;
    color: #222;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.button:hover{
    background-color: #eee;
}
/*file-button*/
.file-button{
    display: none;
}
#upload-file-label{
    background-color: #ccc;
    padding: 5px 10px;
    color: #222;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease;
}
#upload-file-label:hover{
    background-color: #eee;
}
#file-upload-area.drag-over{
    background-color: #006036;
}
#file-upload-area *{
    pointer-events: none;
}

#upload-file-label, #upload-button{
    pointer-events: auto;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer p {
    font-size: 1.5rem;
}